.about-us {
  position: relative;
  background-color: $light-grey;
}

.about-us--index {
  background-color: $white-1;
}

.about-us__wrapper {
  position: relative;
  z-index: 1;

  &--index {
    background-color: $white-1;
  }
}

.about-us__text-container {
  display: flex;
  justify-content: space-between;

  padding-top: 29px;
  padding-bottom: 25px;
}

.about-us__partnership {
  @include oswald (16px, 1.25, 400);
  text-transform: uppercase;
  margin: 0;
  margin-right: 19px;

}

.about-us__adress {
  min-width: 134px;
  margin: 0;
  line-height: 1.43;
  color: $greyish-brown;
}

.about-us__map {
  display: flex;

  margin-top: -38px;

  position: relative;

  &::after {
    content: "";
    display: block;

    position: absolute;
    bottom: 170px;
    left: calc(50% - (62px / 2));
    z-index: 1;

    width: 55px;
    height: 53px;

    background-image: url("../img/map-pin.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.about-us__map-img {
  display: block;
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .about-us__text-container {
    min-height: 201px;
    padding: 0;
  }

  .about-us__partnership {
    font-size: 20px;
    line-height: 1.25;

    width: 150px;

    margin: 0;
    margin-top: 65px;
    margin-left: 41px;
  }

  .about-us__adress {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;

    width: 150px;

    margin: 0;
    margin-top: 62px;
    margin-right: 45px;
  }

  .about-us__city {
    display: block;
    margin-top: 20px;
  }

  .about-us__map {
    margin-top: -4px;

    &::after {
      width: 113px;
      height: 106px;

      bottom: 144px;
      left: calc(50% - (124px / 2));
    }
  }

  .about-us__map-img {
    width: 768px;
  }
}

@media (min-width: $desktop) {
  .about-us__text-container {
    width: 570px;

    position: absolute;
    top: 95px;
    left: 110px;

    background-color: $white-1;
  }

  .about-us__partnership {
    margin-left: 76px;
  }

  .about-us__adress {
    text-align: left;
    margin-right: 95px;
  }

  .about-us__map {
    margin-top: 0;

    &::after {
      left: calc(50% + 278px);
    }
  }

  .about-us__map-img {
    width: 1440px;
  }
}
