.additional-goods__title {
  @include oswald (24px, 1, 400);
  margin: 0;
  position: relative;
  background-color: $white-1;

  &::before {
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    z-index: -1;
    background-color: $leaf;
  }
}

.additional-goods__list {
  @include list-reset;
}

.additional-goods__item {
  display: flex;
  flex-direction: column;
}

.additional-goods__product-name {
  @include oswald (16px, 1, 400);
  text-transform: uppercase;
  margin: 0;
}

.additional-goods__spec {
  font-size: 12px;
  line-height: 1.33;
  color: $greyish-brown;
  border-collapse: collapse;
}

.additional-goods__spec-value {
  text-align: right;
}

.additional-goods__promo-wrapper {
  display: flex;
  min-height: 289px;
  text-align: center;

  background-color: $leaf;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-goods__promo {
  width: 160px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 41px;
  margin-left: auto;

  font-size: 16px;
  line-height: 1.25;
  color: $white-1;

  position: relative;

  &::before {
    content: "";
    display: block;
    width: 56px;
    height: 61px;

    position: absolute;
    background-image: url("../../img/icon-gift.svg");
  }
}

@media (max-width: $mobile) {
  .additional-goods__title {
    width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;

    &::before {
      width: 300px;
      top: 45px;
    }
  }

  .additional-goods__item {
    border-top: 1px solid rgba(#000000, 0.1);

    &:last-of-type {
      border-bottom: 1px solid rgba(#000000, 0.1);
    }
  }

  .additional-goods__product-name {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .additional-goods__spec {
    width: 100%;
    margin-bottom: 15px;
  }

  .additional-goods__link {
    width: 280px;
    height: 40px;
    margin-bottom: 17px;
  }

  .additional-goods__promo-wrapper {
    margin-top: 40px;
    margin-bottom: 35px;
  }

  .additional-goods__promo {
    &::before {
      bottom: 125px;
      left: calc((160px - 56px) / 2);
    }
  }
}

@media (min-width: $tablet) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 1;
    width: 340px;
    padding-top: 70px;
    margin-bottom: 75px;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    background-color: $white-1;

    &::before {
      width: 768px;
      bottom: 10px;
      left: -30px;
    }
  }

  .additional-goods__list {
    border: 1px solid #cdcdcd;
  }

  .additional-goods__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

    &:not(:last-child) {
      border-bottom: 1px solid #cdcdcd;
    }
  }

  .additional-goods__product-name {
    font-size: 20px;
    line-height: 1;
    margin: 0;
    margin-top: 28px;
    margin-bottom: 25px;
    margin-left: 40px;
  }

  .additional-goods__spec {
    margin-right: 38px;
    margin-bottom: 23px;
    margin-left: auto;
  }

  .additional-goods__spec-value {
    width: 95px;
  }

  .additional-goods__link {
    width: 633px;
    height: 40px;
    margin-bottom: 28px;
    margin-left: 38px;
  }

  .additional-goods__promo-wrapper {
    display: flex;
    min-height: 200px;
    margin-top: 70px;
    margin-bottom: 75px;
    background-image: url("../../img/gift-photo-tablet@1x.jpg");
  }

  .additional-goods__promo {
    text-align: left;
    margin: 0;
    margin-top: 75px;
    margin-right: 125px;
    margin-left: auto;
    position: relative;

    &::before {
      left: -330px;
      top: -10px;
    }
  }
}

@media (min-width: $desktop) {
  .additional-goods__title {
    &::before {
      width: 1440px;
      left: -110px;
    }
  }

  .additional-goods__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .additional-goods__list {
    border-right: none;
    border-left: none;
  }

  .additional-goods__item {
    align-items: center;
    width: 895px;
  }

  .additional-goods__product-name {
    margin-left: 0;
  }

  .additional-goods__spec {
    width: 300px;
    margin-bottom: 0;
  }

  .additional-goods__spec-row {
    width: 200px;
  }

  .additional-goods__spec-value {
    text-align: left;
    width: 50px;
  }

  .additional-goods__link {
    width: 245px;
    margin: 0;
  }

  .additional-goods__promo-wrapper {
    width: 245px;
    min-height: 289px;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
  }

  .additional-goods__promo {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;

    &::before {
      top: auto;
      bottom: 125px;
      left: calc((160px - 56px) / 2);
    }
  }
}
