.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $white-1;
  text-transform: uppercase;

  border: none;

  &--green {
    background-color: $leaf;
    // Стайлгайд
    &:hover, &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba($white-1, 0.3);
    }
  }

  &--gray {
    color: $greyish-brown;
    background-color: $light-grey;
    // Стайлгайд
    &:hover, &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba($greyish-brown, 0.3);
    }
  }
}
