.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;

  @include oswald-regular (16px, 1.25);
  color: #ffffff;
  text-transform: uppercase;
  outline: 1px solid red;
}

.button--green {
  background-color: $color-5;
}

.button--gray {
  color: $color-3;
  background-color: $color-6;
}
