.catalog__wrapper {
  width: 320px;
  padding: 0;
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
}

.catalog__page-title {
  @include oswald (36px, 1.67, 400);
  margin: 0;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.catalog__item {
  border: 1px solid #ededed;
  margin-bottom: -1px;
}

.catalog__more {
  display: flex;
  flex-direction: column;
  min-height: 210px;
  align-items: center;

  border: 1px solid #ededed;
}

.catalog__show-more {
  @include oswald (16px, 1.25, 400);
  text-transform: uppercase;
  color: $black-1;

  margin: 0;
  margin-top: auto;
  margin-bottom: 10px;

  &::before {
    content: "";
    display: block;
    width: 31px;
    height: 31px;

    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;

    background-image: url("../img/icon-plus-mobile.svg");
    opacity: 0.2;
  }
}

.catalog__promo {
  font-size: 12px;
  line-height: 1.33;
  color: $greyish-brown;

  margin: 0;
  margin-bottom: 20px;
}

.catalog__link {
  width: 280px;
  height: 40px;
  margin-bottom: 20px;
}

@media (min-width: $tablet) {
  .catalog__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .catalog__page-title {
    font-size: 60px;
    line-height: 1;
    margin: 0;
    padding-top: 65px;
    margin-bottom: 0;
  }

  .catalog__item-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .catalog__more {
    width: 324px;
    min-height: 432px;
    margin-top: 140px;
    text-align: center;
  }

  .catalog__show-more {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 28px;
    width: 135px;

    &::before {
      width: 61px;
      height: 61px;
      margin-bottom: 50px;

      background-image: url("../img/icon-plus.svg");
      opacity: 0.2;
    }
  }

  .catalog__promo {
    font-size: 16px;
    line-height: 1;
    width: 170px;
    margin-bottom: 85px;
  }

  .catalog__link {
    width: 249px;
    height: 40px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop) {
  .catalog__wrapper {
    width: 1220px;
    padding: 0 110px;
  }

  .catalog__link {
    width: 169px;
  }

  .catalog__more {
    width: 245px;
  }
}
