.intro {
  display: flex;
  text-align: center;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 305px;
  background-position: 50% 0;

  @media (min-resolution: $retina) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__title {
  @include oswald (36px, 1, 400);
  color: $white-1;
  margin: 0;
  margin-top: 29px;
}

.intro__slogan {
  @include oswald (14px, 1, 400);
  color: $white-1;
  text-transform: uppercase;
  margin-top: 19px;
}

.intro__button {
  width: 280px;
  height: 40px;
}

.intro__img {
  margin-top: 20px;
}

@media (min-width: $tablet) {
  .intro {
    background-image: none;
    text-align: left;
  }

  .intro__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 806px;
  }

  .intro__title {
    width: 415px;
    margin: 0;
    margin-top: 80px;
    margin-left: 90px;
    margin-bottom: 35px;

    font-size: 60px;
    color: $black-1;

    order: -1;
  }

  .intro__slogan {
    margin: 0;
    margin-left: 90px;
    margin-bottom: 50px;

    font-size: 20px;
    color: $black-1;

    order: -1;
  }

  .intro__img {
    width: 709px;
    height: 609px;

    margin: 0;
    margin-top: -80px;
  }

  .intro__button {
    width: 245px;
    height: 52px;

    margin-left: 90px;

    order: -1;
    z-index: 1;

    font-size: 20px;
    line-height: 1;
  }
}

@media (min-width: $desktop) {
  .intro {
    margin-top: -134px;
  }

  .intro__wrapper {
    min-height: 696px;

    position: relative;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;

    @media (min-resolution: $retina) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }

  .intro__title {
    margin-top: 230px;
  }

  .intro__slogan {
    margin-bottom: 50px;
  }

  .intro__img {
    width: 552px;
    height: 499px;

    margin: 0;

    position: absolute;
    right: 325px;
    top: 150px;
  }
}
