.intro {
  @include oswald-regular (14px, 1);
  color: #ffffff;
  background-image: url("/img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  object-fit: fill;
  text-align: center;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
}

.intro__slogan {
  text-transform: uppercase;
}
