.main-nav {
  @include oswald (20px, 1, 500);
  text-transform: uppercase;

  min-height: 65px;

  display: flex;
  flex-wrap: wrap;

  position: relative;

  border-bottom: 1px solid $light-grey;
}

.main-nav__logo {
  display: flex;

  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 20px;

  // Стайлгайд
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

// Управление отображением мобильного меню

// Скрипт не работает (меню открыто)
.main-nav--nojs .main-nav__menu-button {
  display: none;
}

// Меню скрыто
.main-nav--closed .main-nav__list {
  display: none;
}

// Кнопка меню
.main-nav__menu-button {
  width: 40px;
  height: 40px;

  border: none;
  background: none;

  position: absolute;
  top: 10px;
  right: 12px;
}
// Крестик
.main-nav .main-nav__menu-button {
  background-image: url("../img/icon-close.svg");
  background-size: 19px;
  background-repeat: no-repeat;
  background-position: 50%;
}
// Крестик
.main-nav--closed .main-nav__menu-button {
  background-image: url("../img/icon-mobile-menu.svg");
  background-size: 25px 19px;
  background-repeat: no-repeat;
  background-position: 50%;
}

// Стили списка меню
.main-nav__list {
  @include list-reset;

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.main-nav__item {
  display: flex;
  width: 100%;
  border-top: 1px solid $light-grey;
}

.main-nav__link {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  box-sizing: border-box;

  // Стайлгайд
  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

// Планшетная версия
@media (min-width: $tablet) {
  .main-nav {
    @include oswald (18px, 1.39, 400);
    padding-top: 10px;
    align-items: center;
    border: none;
  }

  .main-nav__logo {
    margin-bottom: 0;
  }

  .main-nav__logo-img {
    width: 173px;
    height: 64px;

    margin-left: -19px;
  }

  .main-nav__menu-button {
    display: none;
  }

  .main-nav__list {
    width: auto;

    margin-top: 14px;
    margin-left: auto;
  }

  .main-nav__item {
    width: auto;
    align-items: center;
    border: none;

    &:last-of-type {
      border-bottom: none;
    }

    &:not(:first-of-type) {
      margin-left: 35px;
    }
  }

  .main-nav__link {
    width: auto;
    padding: 7px 0;

    &--active {
      border-bottom: 2px solid $leaf;
      margin-bottom: -2px;
    }
  }
}

// Десктопная версия
@media (min-width: $desktop) {
  .main-nav {
    padding-top: 43px;
    position: relative;
    z-index: 1;
  }

  .main-nav__logo-img {
    width: 219px;
    height: 60px;

    margin-left: -28px;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 1.25;
  }

  .main-nav--desktop .main-nav__link {
    color: $white-1;

    &--active {
      border-color: $white-1;
    }
  }
}
