.page-header__wrapper {
  margin: 0 auto;
}

@media (min-width: $tablet) {
  .page-header__wrapper {
    width: 708px;
    padding: 0 30px;
  }
}

@media (min-width: $desktop) {
  .page-header__wrapper {
    width: 1220px;
    padding: 0 110px;
  }
}
