.page-footer {
  background-color: $light-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 41px;
  margin-bottom: 17px;

  // Стайлгайд
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  width: 100%;

  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1;
  color: $greyish-brown;

  // Стайлгайд
  &:hover .page-footer__academy-logo,
  &:focus .page-footer__academy-logo {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__academy-logo {
  margin-right: -7px;
  margin-left: auto;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;

    height: 150px;
    min-height: 150px;
  }

  .page-footer__logo {
    margin: 0;
  }

  .page-footer__social {
    margin-left: 25px;
  }

  .page-footer__copyright {
    margin-top: 19px;
    width: auto;
  }

  .page-footer__academy-logo {
    margin-left: 15px;
  }
}
