.page-footer {
  background-color: $light-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 41px;
  margin-bottom: 17px;
}

.page-footer__copyright {
  width: 100%;

  display: flex;
  align-items: center;

  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1;
  color: $greyish-brown;
}

.page-footer__academy-logo {
  margin-right: -7px;
  margin-left: auto;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    flex-direction: row;
    align-items: center;

    min-height: 150px;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 6px;
  }

  .page-footer__social {
    margin-left: 155px;
    outline: 1px solid red;
  }

  .page-footer__copyright {
    margin-left: auto;
    width: auto;
  }

  .page-footer__academy-logo {
    margin-left: 15px;
  }
}
