.page-footer {
  background-color: $light-grey;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer__logo {
  margin-top: 39px;
  margin-bottom: 31px;
}

.page-footer__copyright {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1;
  color: $greyish-brown;
}

@media (min-width: $tablet) {
  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__copyright {
    width: 250px;
  }

  .page-footer__academy-logo {
    margin-left: 10px;
  }
}
