.product-presentation {
  display: flex;
  background-color: $light-grey;
}

.product-presentation__title {
  @include oswald (36px, 1.67, 400);

  margin: 0;
  margin-bottom: 23px;
  margin-top: 38px;
}

// Описание
.product-presentation__description {
  margin: 0;
  margin-bottom: 24px;
  color: $greyish-brown;
}

// Табличка
.product-presentation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  position: relative;
}

// Термин (внизу)
.product-presentation__term {
  font-size: 12px;
  line-height: 1;
  color: $greyish-brown;
  text-transform: lowercase;
  text-align: center;

  display: block;
  width: 82px;
  height: 20px;
  background-color: $light-grey;

  position: absolute;
  z-index: 1;

  &--weight {
    bottom: -11px;
    left: 20px;
  }

  &--time {
    right: 20px;
    bottom: -11px;
  }
}

// Цифры (посередине)
.product-presentation__definition {
  @include oswald (24px, 1, 400);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;

  width: 124px;
  height: 56px;

  position: relative;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

// Затраты
.product-presentation__costs {
  @include oswald (14px, 1.43, 400);
  text-transform: uppercase;
  text-align: center;

  margin: 0;
  margin-top: 32px;
  margin-bottom: 36px;
}

// Фото
.product-presentation__photo-wrapper {
  display: block;

  margin-bottom: 33px;
  margin-left: -18px;
}

.product-presentation__photo {
  &--before {
    display: block;
  }

  &--after {
    display: none;
  }
}

// Слайдер
.product-presentation__slider-wrapper {
  display: flex;
  align-items: center;

  margin-bottom: 36px;
}

// Надписи
.product-presentation__label {
  @include oswald (16px, 1.25, 400);
  text-transform: uppercase;

  &--before {
    margin-right: 18px;
    margin-left: 44px;
  }

  &--after {
    margin-left: 15px;
  }
}

// Переключатель (ползунок)
.product-presentation__slider-btn {
  width: 84px;
  height: 14px;
  position: relative;

  border: 1px solid #cdcdcd;
  border-radius: 6px;

  background-color: $white-1;

  &::before {
    content: "";
    display: block;
    width: 35px;
    height: 6px;

    position: absolute;
    top: calc((14px - 6px) / 2);
    left: 5px;

    border-radius: 3px;
    background-color: $leaf;
  }
}

// Планшетные стили

@media (min-width: $tablet) {
  .product-presentation {
    background: linear-gradient(to right, $light-grey 50%, #eaeaea 50%);
  }

  .product-presentation__wrapper {
    margin-top: -620px;
  }

  .product-presentation__title {
    font-size: 60px;
    line-height: 1;

    margin-top: 42px;
    margin-bottom: 65px;
  }

  .product-presentation__description {
    font-size: 16px;
    line-height: 1.5;

    margin-bottom: 24px;
  }

  .product-presentation__stats-wrapper {
    display: flex;
    align-items: center;

    margin-top: 39px;
  }

  .product-presentation__term {
    width: auto;
    height: auto;

    font-size: 14px;
    background-color: $white-1;

    &--weight {
      padding-right: 6px;
      padding-left: 10px;

      bottom: -4px;
      left: 23px;
    }

    &--time {
      padding-right: 6px;
      padding-left: 6px;

      bottom: -4px;
      right: 13px;
    }
  }

  .product-presentation__definition {
    font-size: 30px;
    line-height: 1.23;

    width: 162px;
    height: 72px;

    &:first-of-type {
      margin-right: 40px;
    }
  }

  .product-presentation__costs {
    font-size: 20px;
    line-height: 1.5;
    text-align: right;

    width: 175px;
    margin: 0;
    margin-left: auto;
  }

  .product-presentation__before-after {
    margin-top: 70px;
  }

  .product-presentation__photo-wrapper {
    overflow: hidden;
    margin-left: 0;

    &--before {
      width: 50%;
    }

    &--after {
      width: 50%;

      margin-top: -554px;
      margin-left: auto;
    }
  }

  .product-presentation__photo {
    max-width: none;
    width: auto;

    &--before {
      height: 519px;
      margin-left: 15px;
    }

    &--after {
      display: block;
      height: 519px;
      float: right;
    }
  }

  .product-presentation__slider-wrapper {
    margin-top: -18px;
    margin-bottom: 69px;
  }

  .product-presentation__label {
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dotted rgba(#000000, 0.23);

    &--before {
      margin-right: 24px;
      margin-left: 68px;
    }

    &--after {
      margin-left: 20px;
    }
  }

  .product-presentation__scale-wrapper {
    position: relative;
  }

  .product-presentation__slider-scale {
    width: 428px;
    height: 6px;

    border-radius: 2.5px;
    background-color: #dcdcdc;
  }

  .product-presentation__slider-btn {
    width: 34px;
    height: 34px;

    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50%;

    position: absolute;
    top: -15px;
    left: calc(50% - 34px / 2);
    z-index: 1;

    &::before {
      width: 8px;
      height: 8px;

      top: calc((34px - 8px) / 2);
      left: calc((34px - 8px) / 2);

      border-radius: 50%;
      background-color: $leaf;
    }
  }
}

// Десктопные стили

@media (min-width: $desktop) {
  .product-presentation {
    border-top: none;
    background: linear-gradient(to right, $light-grey calc(50% + 325px), #eaeaea calc(50% + 325px));
  }

  .product-presentation__wrapper {
    margin-top: 0;
  }

  .product-presentation__title {
    margin-top: -136px;
    margin-bottom: 146px;
  }

  .product-presentation__container {
    display: flex;
  }

  .product-presentation__description {
    width: 435px;
    margin-bottom: 54px;
  }

  .product-presentation__stats-wrapper {
    width: 430px;
    flex-wrap: wrap;
  }

  .product-presentation__term {
    background-color: $light-grey;
  }

  .product-presentation__costs {
    display: flex;
    width: 327px;

    text-align: left;

    margin: 0;
    margin-top: 40px;
  }

  .product-presentation__amount {
    margin-left: auto;
  }

  .product-presentation__before-after {
    margin-top: -260px;
    margin-left: 134px;
  }

  .product-presentation__photo-wrapper {
    &--before {
      width: 53%;
    }

    &--after {
      width: 47%;
      margin-top: -552px;
    }
  }

  .product-presentation__photo {
    margin: 0;
  }

  .product-presentation__slider-wrapper {
    margin-top: 33px;
    margin-bottom: 69px;
  }

  .product-presentation__label {
    &--before {
      margin-left: 80px;
    }
  }
}
