.product {
  display: flex;
  flex-wrap: wrap;
  height: 210px;
  box-sizing: border-box;
}

.product__image {
  margin-left: 19px;
}

.product__description {
  display: flex;
  flex-direction: column;
  width: 140px;
  min-height: 144px;
}

.product__product-name {
  @include oswald (16px, 1.25, 400);
  text-transform: uppercase;

  width: 100px;

  margin: 0;
  margin-top: 22px;
}

.product__spec {
  width: 140px;
  font-size: 12px;
  line-height: 14px;
  color: $greyish-brown;
  border-collapse: collapse;
}

.product__spec-header {
  text-align: left;
}

.product__spec-value {
  text-align: right;
}

.product__link {
  width: 280px;
  height: 40px;

  margin-right: auto;
  margin-bottom: 25px;
  margin-left: auto;

  font-size: 16px;
  line-height: 1.25;
}

@media (min-width: $tablet) {
  .product {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    width: 324px;
    min-height: 431px;

    background-color: $light-grey;
  }

  .product__image {
    &--small {
      width: 322px;
      height: 173px;

      margin-top: -47px;
      margin-left: 0;
    }

    &--big {
      width: 322px;
      height: 208px;

      margin-top: -82px;
      margin-left: 0;
    }
  }

  .product__description {
    width: 249px;
  }

  .product__product-name {
    text-align: center;
    align-self: center;

    width: 130px;

    margin-top: 36px;
    margin-bottom: 19px;

    font-size: 20px;
    line-height: 1;
  }

  .product__spec {
    width: 100%;
    font-size: 16px;
    line-height: 1;
  }

  .product__spec-row {
    border-bottom: 1px solid rgba($brownish-grey, 0.3);
    height: 32px;
  }

  .product__link {
    width: 249px;
    height: 40px;

    margin-top: 33px;
  }
}

@media (min-width: $desktop) {
  .product {
    width: 245px;
  }

  .product__description {
    width: 169px;
  }

  .product__link {
    width: 169px;
  }
}
