.program-selection {
  min-height: 1357px;
}

.program-selection__title {
  @include oswald (36px, 1.67, 400);
  margin: 0;
}

.program-selection__suggest {
  @include oswald (14px, 1.29, 400);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.program-selection__label {
  @include oswald (16px, 1.13, 400);
  color: $black-2;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 14px;
}

.program-selection__legend {
  @include oswald (24px, 1, 400);
  margin-top: 30px;
  margin-bottom: 30px;
}

.program-selection__input {
  @include oswald (16px, 1.13, 400);
  color: $greyish-brown;
  text-transform: uppercase;

  flex-grow: 1;
  height: 40px;
  margin-left: 16px;
  padding-left: 16px;
  border: 1px solid rgba(#cdcdcd, 0.5);
}

.program-selection__cat-data {
  @include fieldset-reset;
  display: flex;
  flex-direction: column;
}

.program-selection__program-select {
  @include fieldset-reset;
  display: flex;
  flex-direction: column;
}

.program-selection__owner-contacts {
  @include fieldset-reset;
  display: flex;
  flex-direction: column;
}

.program-selection__comment {
  @include fieldset-reset;
}

.program-selection__comment-area {
  @include oswald (16px, 1.13, 400);
  color: $greyish-brown;
  text-transform: uppercase;

  display: flex;
  min-height: 150px;
  width: 100%;
  box-sizing: border-box;
  padding: 13px;

  border: 1px solid rgba(#cdcdcd, 0.5);
  resize: none;
  overflow: auto;
}

.program-selection__additional-goods {
  @include fieldset-reset;
}

.program-selection__submit {
  width: 280px;
  height: 40px;
}

.program-selection__asterisk {
  display: block;
  text-align: center;
  line-height: 1.14;
  margin-top: 23px;
  margin-bottom: 34px;
}
