// Общее

.program-selection__title {
  @include oswald (36px, 1.67, 400);

  margin: 0;
  margin-top: 14px;
  margin-bottom: 25px;
}

.program-selection__suggest {
  @include oswald (14px, 1.29, 400);
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 40px;
}

.program-selection__label {
  @include oswald (16px, 1.13, 400);
  color: $black-2;
  text-transform: uppercase;

  display: flex;
  align-items: center;

  margin: 0;

  cursor: pointer;
}

// Подзаголовки полей

.program-selection__legend {
  @include oswald (24px, 1, 400);

  padding-right: 22px;

  display: flex;
  max-width: 203px;

  position: relative;

  background-color: $white-1;

  // Декоративная полоска
  &::after {
    content: "";
    display: block;

    width: 300px;
    height: 3px;

    background-color: $leaf;

    position: absolute;
    top: 14px;
    z-index: -1;
  }
}

// Инпуты

.program-selection__input {
  @include oswald (16px, 1.13, 400);
  color: $greyish-brown;
  text-transform: uppercase;

  flex-grow: 1;
  height: 45px;
  min-width: 50px;

  margin-left: 14px;
  padding-left: 15px;

  box-sizing: border-box;

  border: 1px solid rgba(#cdcdcd, 0.5);

  position: relative;

  &[type="number"] {
    appearance: textfield;
  }

  &[type="number"]::-webkit-inner-spin-button,
  &[type="number"]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  // Стайлгайд
  &:hover {
    border-color: rgba(#cdcdcd, 1);
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid $greyish-brown;
  }

  &:invalid:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #ff8282;
  }
}

// Поля формы

// Ввод данных кота

.program-selection__profile {
  @include fieldset-reset;
}

.program-selection__cat-data-list {
  @include list-reset;

  margin-bottom: 23px;
}

.program-selection__cat-data-item {
  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

// Выбор программы

.program-selection__program-select-list {
  @include list-reset;

  width: 320px;
  min-height: 158px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-left: -20px;

  box-sizing: border-box;
  border: 1px solid #ededed;
}

.program-selection__program-select-item {
  margin-top: 25px;
  margin-left: 65px;
}

// Радио чекбоксы

.program-selection__label--radio {
  margin: 0;

  position: relative;
  // Рамка
  &::before {
    content: "";
    display: block;

    width: 30px;
    height: 30px;

    border: 1px solid #cdcdcd;
    border-radius: 50%;

    position: absolute;
    top: -6px;
    left: -47px;
  }
  // Кружок
  &::after {
    content: "";
    display: none;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: $leaf;

    position: absolute;
    top: 4px;
    left: -37px;
  }

  // Стайлгайд
  &:hover::before {
    border-color: #bababa;
  }

  &:focus::before {
    box-shadow: 5px 5px 5px 5px $leaf;
  }
}

// Работа кастомных радио чекбоксов

.program-selection__input[type="radio"]:checked + .program-selection__label--radio::after {
  display: block;
}

.program-selection__input[type="radio"]:disabled + .program-selection__label--radio {
  opacity: 0.3;
}

.program-selection__input[type="radio"]:focus + .program-selection__label--radio::before {
  box-shadow: 0 0 2px 1px $leaf;
}

// Контактные данные владельца

.program-selection__owner-contacts {
  @include fieldset-reset;

  margin-top: 28px;
}

.program-selection__owner-contacts-list {
  @include list-reset;

  margin-top: 34px;
}

.program-selection__owner-contacts-item {
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.program-selection__mail-icon {
  position: absolute;
  right: 15px;
  bottom: 15px;

  fill: #222222;
}

.program-selection__phone-icon {
  position: absolute;
  right: 12px;
  bottom: 12px;

  fill: #222222;
}

.program-selection__input--email {
  margin-left: 11px;

  // Стайлгайд
  &:focus + .program-selection__mail-icon {
    fill: $leaf;
  }

  &:invalid:focus + .program-selection__mail-icon {
    fill: #ff8282;
  }
}

.program-selection__input--phone {
  margin-left: 9px;

  // Стайлгайд
  &:focus + .program-selection__phone-icon {
    fill: $leaf;
  }

  &:invalid:focus + .program-selection__phone-icon {
    fill: #ff8282;
  }
}

// Поле с комментарием

.program-selection__comment {
  @include fieldset-reset;
  margin-top: 28px;
}

.program-selection__comment-area {
  @include oswald (16px, 1.13, 400);
  color: $greyish-brown;
  text-transform: uppercase;

  display: flex;
  min-height: 150px;
  width: 100%;

  margin-top: 35px;
  padding: 13px;

  box-sizing: border-box;

  border: 1px solid rgba(#cdcdcd, 0.5);
  resize: none;
  overflow: auto;
  // Стайлгайд
  &:hover {
    border-color: rgba(#cdcdcd, 1);
  }

  &:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid $greyish-brown;
  }
}

// Дополнительные товары

.program-selection__additional-goods {
  @include fieldset-reset;

  margin-top: 28px;
}

.program-selection__additional-goods-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  margin-top: 40px;
}

.program-selection__additional-goods-item {
  margin-bottom: 24px;
  margin-left: 46px;
}

// Кастомный чекбокс

.program-selection__label--checkbox {
  margin: 0;

  position: relative;
  // Рамка
  &::before {
    content: "";
    display: block;

    width: 30px;
    height: 30px;

    box-sizing: border-box;

    border: 1px solid #cdcdcd;

    position: absolute;
    top: -5px;
    left: -46px;
  }
  // Галка
  &::after {
    content: "";
    display: none;

    width: 22px;
    height: 17px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: 2px;
    left: -42px;
  }

  // Стайлгайд
  &:hover::before {
    border-color: #bababa;
  }
}

// Работа кастомных чекбоксов

.program-selection__input[type="checkbox"]:checked + .program-selection__label--checkbox::after {
  display: block;
}

.program-selection__input[type="checkbox"]:disabled + .program-selection__label--checkbox {
  opacity: 0.3;
}

// Фокус для чекбокса
.program-selection__input[type="checkbox"]:focus + .program-selection__label--checkbox::before {
  box-shadow: 0 0 1px 1px $leaf;
}

// Кнопка и сноска

.program-selection__submit {
  width: 280px;
  height: 40px;

  margin-top: 17px;

  font-size: 16px;
  line-height: 1.25;

  cursor: pointer;
}

.program-selection__asterisk {
  display: block;
  text-align: center;
  line-height: 1.14;
  margin-top: 21px;
  margin-bottom: 32px;
}

// Планшетные стили

@media (min-width: $tablet) {
  // Общие

  .program-selection__title {
    font-size: 60px;
    line-height: 1;

    margin-top: 54px;
    margin-bottom: 57px;
  }

  .program-selection__form {
    width: 630px;

    margin-bottom: 60px;
    margin-left: 41px;
  }

  .program-selection__suggest {
    font-size: 20px;
    line-height: 1.5;

    width: 325px;

    margin-bottom: 65px;
  }

  .program-selection__legend {
    font-size: 36px;
    line-height: 1;

    max-width: 100%;

    margin-left: -40px;

    padding-right: 43px;
    padding-left: 38px;

    // Декоративная полоска
    &::after {
      width: 768px;
      top: 23px;
      left: -31px;
    }
  }

  .program-selection__label {
    font-size: 20px;
    line-height: 1;
  }

  .program-selection__input {
    font-size: 20px;
    line-height: 1;

    height: 52px;

    margin-left: 18px;
    padding-left: 18px;
  }

  // Данные кота

  .program-selection__cat-data-list {
    margin-bottom: 72px;
  }

  .program-selection__cat-data-item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  // Выбор программы

  .program-selection__program-select-list {
    width: 100%;
    min-height: 196px;

    margin-left: 0;
  }

  .program-selection__program-select-item {
    margin-top: 33px;
    margin-left: 86px;
  }

  // Кастомные радио чекбоксы

  .program-selection__label--radio {
    &::before {
      width: 40px;
      height: 40px;

      top: -10px;
      left: -60px;
    }

    &::after {
      width: 18px;
      height: 18px;

      top: 2px;
      left: -48px;
    }
  }

  // Данные владельца

  .program-selection__owner-contacts {
    margin-top: 74px;
  }

  .program-selection__owner-contacts-list {
    margin-top: 77px;
  }

  .program-selection__owner-contacts-item {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  // инпуты
  .program-selection__input--email {
    margin-left: 19px;
  }

  .program-selection__input--phone {
    margin-left: 13px;
  }

  .program-selection__mail-icon {
    right: 18px;
    bottom: 18px;
  }

  .program-selection__phone-icon {
    right: 15px;
    bottom: 15px;
  }

  // Поле с комментарием

  .program-selection__comment {
    margin-top: 64px;
  }

  .program-selection__comment-area {
    font-size: 20px;
    line-height: 1.5;

    min-height: 174px;
    margin-top: 77px;

    padding: 10px 17px;
  }

  // Дополнительные товары

  .program-selection__additional-goods {
    margin-top: 64px;
  }

  .program-selection__additional-goods-list {
    flex-direction: row;
    justify-content: space-between;

    width: 560px;
    height: auto;

    margin-top: 68px;
    margin-left: 57px;
  }

  .program-selection__additional-goods-item {
    min-width: 215px;

    margin: 0;
    margin-bottom: 51px;
  }

  // Кастомные чекбоксы

  .program-selection__label--checkbox {
    &::before {
      width: 40px;
      height: 40px;

      top: -10px;
      left: -58px;
    }

    &::after {
      width: 21px;
      height: 16px;

      left: -48px;
    }
  }

  // Кнопка и сноска

  .program-selection__submit {
    display: inline-block;
    vertical-align: top;

    width: 283px;
    height: 52px;

    margin-top: 14px;

    font-size: 20px;
    line-height: 1;
  }

  .program-selection__asterisk {
    display: inline-block;
    vertical-align: top;

    font-size: 16px;
    line-height: 1;

    margin-top: 30px;
    margin-left: 57px;
  }
}

// Десктопные стили

@media (min-width: $desktop) {
  // Общие
  .program-selection {
    overflow-x: hidden;
  }

  .program-selection__title {
    margin-top: 73px;
  }

  .program-selection__form {
    width: 100%;

    margin-left: 0;
    margin-bottom: 70px;
  }

  .program-selection__label {
    margin-bottom: 0;
  }

  .program-selection__legend {
    // Декоративная полоска
    &::after {
      width: 2560px;
      top: 23px;
      left: -620px;
    }
  }

  // Данные кота и выбор программы

  .program-selection__profile {
    display: flex;
    flex-wrap: wrap;
  }

  .program-selection__cat-data-list {
    width: 570px;

    margin: 0;
    margin-right: 80px;

    display: flex;
    flex-direction: column;
  }

  .program-selection__program-select-list {
    width: 570px;
  }

  // Контактные данные

  .program-selection__owner-contacts {
    margin-top: 68px;
  }

  .program-selection__owner-contacts-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .program-selection__owner-contacts-item {
    width: 570px;

    &:not(:last-of-type) {
      margin: 0;
      margin-right: 78px;
    }
  }

  .program-selection__input {
    &--email {
      margin-left: 22px;
    }

    &--phone {
      margin-left: 17px;
    }
  }

  // Поле с комментарием

  .program-selection__comment {
    margin-top: 66px;
  }

  // Дополнительно

  .program-selection__additional-goods {
    margin-top: 66px;
  }

  .program-selection__additional-goods-list {
    width: 100%;
    justify-content: space-between;
    margin-left: 58px;
  }

  .program-selection__additional-goods-item {
    min-width: 245px;
    margin-bottom: 0;
  }

  // Кнопка и сноска

  .program-selection__submit {
    width: 568px;
    margin-top: 71px;
  }

  .program-selection__asterisk {
    margin-top: 87px;
    margin-left: 78px;
  }
}
