.social {
  @include list-reset;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 62px;

  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
}

.social__item:not(:last-of-type) {
  margin-right: 26px;
}

.social__link {
  font-size: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
}

@media (min-width: $tablet) {
  .social {
    border: none;
  }
}
