.social {
  list-style: none;

  display: flex;
  align-items: center;

  width: 100%;
  height: 62px;
  min-height: 62px;

  padding: 0;

  border-top: 1px solid rgba(#000000, 0.1);
  border-bottom: 1px solid rgba(#000000, 0.1);
}

.social__item {
  &--vk {
    margin-right: 26px;
    margin-left: 69px;
  }

  &--ig {
    margin-right: 23px;
  }
}

.social__link {
  font-size: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  // Стайлгайд
  &:hover .social__icon, &:focus .social__icon {
    fill: $leaf;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet) {
  .social {
    width: auto;
    min-width: 130px;
    border: none;
  }

  .social__item {
    &--vk {
      margin-left: 0;
    }

    &--ig {
      margin-right: 17px;
    }
  }

  .social__icon {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--ig {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
