.wrapper {
  margin: 0 auto;
  outline: 1px solid red;
}

@media (max-width: $mobile) {
  .wrapper {
    width: 280px;
    padding: 0 20px;
  }

  .wrapper--no-padding {
    width: 320px;
    padding: 0;
  }
}

@media (min-width: $tablet) {
  .wrapper {
    width: 708px;
    padding: 0 30px;
  }
}
