@mixin oswald ($font-size, $line-height, $font-weight) {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin arial ($font-size, $line-height) {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset {
  border: none;
  padding: 0;
  margin: 0;
}
