// Цвета

$black-1: #111111;
$black-2: #222222;
$greyish-brown: #444444;
$brownish-grey: #666666;
$leaf: #68b738;
$white-1: #ffffff;
$light-grey: #f2f2f2;

// Ширина макета

$mobile: 767px;
$tablet: 768px;
$desktop: 1440px;
